
.heading {
  display:flex;
  gap: 10px;
}

.recipeheading {
  text-align: center;
}

.input {
  font-weight: bold;
  margin-right: 100px;
}



.inputBox{
  background-color: #4CAF50;
  color: white;
  height:45px;
  width: 50%;
  font-size:x-large;
}

.submitButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submitButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.suggested {
  display: flex;
  gap:10px;
}

.listofitems {
  white-space: break-spaces;
}

.loader {
  display: none;
  color: red;
  font-size: x-large;
}
.ntucitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

}